@font-face {
    font-family: "Major Mono Display";
    src: url(./assets/MajorMonoDisplay-Regular.ttf);
}

@font-face {
    font-family: "Inria Sans";
    src: url(./assets/Inria_Sans/InriaSans-Regular.ttf);
}

@font-face {
    font-family: "Inria Sans Bold";
    src: url(./assets/Inria_Sans/InriaSans-Bold.ttf);
}




body{
    background-color: black;
}